.rectangle1
{
width:290px;
height:80px;
background-color:#f07879;
left:200px;
top:80px;
position:absolute;
}
.rectangle2
{
width: 150px;
height:80px;
left:500px;
top:80px;
background-color:#d29346;
position:absolute;
}
.rectangle3
{
width:135px;
height:80px;
background-color:#477fd4;
top:80px;
left:660px;
position:absolute;
}
.rectangle4
{
width:286px;
height:80px;
top:170px;
left:200px;
border-color: #f07879;
border-style:solid;
background-color: inherit;
position:absolute;
}
.rectangle5
{
width: 146px;
height:80px;
left:500px;
top:170px;
border-color: #d29346;
border-style:solid;
background-color: inherit;
position:absolute;
}
.rectangle6
{
width: 136px;
height:80px;
left:660px;
top:170px;
border-color: #477fd4;
border-style:solid;
border-radius:1px;
background-color: inherit;
position:absolute;
}
.rectangle7
{
width:177px;
height:55px;
background-color:#f07879;
left:310px;
top:260px;
position:absolute;
}
.rectangle8
{
width: 80px;
height:55px;
left:496px;
top:260px;
background-color:#d29346;
position:absolute;
}
.rectangle9
{
width:70px;
height:55px;
background-color:#477fd4;
top:260px;
left:585px;
position:absolute;
}
.rectangle10
{
width:180px;
height:55px;
background-color:#f07879;
left:200px;
top:320px;
position:absolute;
}
.rectangle11
{
width: 80px;
height:55px;
left:388px;
top:320px;
background-color:#d29346;
position:absolute;
}
.rectangle12
{
width:70px;
height:55px;
background-color:#477fd4;
top:320px;
left:475px;
position:absolute;
}
.rectangle13
{
width:170px;
height:55px;
background-color:#f07879;
left:480px;
top:400px;
position:absolute;
}
.rectangle14
{
width: 80px;
height:55px;
left:655px;
top:400px;
background-color:#d29346;
position:absolute;
}
.rectangle15
{
width:70px;
height:55px;
background-color:#477fd4;
top:400px;
left:740px;
position:absolute;
}