p {
  padding-left: 530px;
  padding-top: 20px;
  font-size: 40px;
  color: #472a9c;
  font-weight: 700;
}
#box {
  width: 1320px;
  height: 89px;
  background-color: #f2eeff;
  margin-left: 60px;
}
h1 {
  color: #472a9c;
  font-weight: 600px;
  font-size: 50px;
  line-height: 129px;
  padding-left: 383px;
  padding-top: 360px;
  width: 1200px;
  height: 290px;
}

#box1 {
  width: 620px;
  height: 500px;
  top: 200px;
  left: 65px;
  background-color: #e0d6ff;
  border: 7px solid #8666e1;
  position: absolute;
}
h2 {
  color: #472a9c;
  font-weight: 700px;
  font-size: 30px;
  line-height: 36px;
  padding-left: 75px;
  padding-top: 110px;
  width: 178px;
  height: 72px;
}
#box2 {
  width: 257px;
  height: 334px;
  top: 201px;
  left: 760px;
  background: #e0d6ff;
  border: 7px solid #8666e1;
  position: absolute;
}
h3 {
  color: #472a9c;
  font-weight: 700px;
  font-size: 30px;
  line-height: 36px;
  padding-left: 25px;
  padding-top: 200px;
  width: 178px;
  height: 72px;
}
#box3 {
  width: 257px;
  height: 334px;
  top: 0px;
  left: 350px;
  background: #e0d6ff;
  border: 7px solid #8666e1;
  position: absolute;
}
