.rectangle1,
.rectangle2,
.rectangle3,
.rectangle4,
.rectangle5,
.rectangle6,
.rectangle7,
.rectangle8,
.rectangle9,
.rectangle10,
.rectangle11,
.rectangle12,
.rectangle13,
.rectangle14,
.rectangle15 {
  position: absolute;
  border-radius: 5px;
}
.rectangle1,
.rectangle4 {
  width: 684px;
  height: 210px;
  left: 23px;
  top: 194px;
  background: #f07878;
}
.rectangle2,
.rectangle5 {
  width: 354px;
  height: 210px;
  left: 735px;
  top: 194px;
  background: #d39346;
}
.rectangle3,
.rectangle6 {
  width: 299px;
  height: 210px;
  left: 1118px;
  top: 194px;
  background: #467fd3;
}
.rectangle4 {
  top: 420px;
  border-color: #f07879;

  border-style: solid;
  background-color: inherit;
}
.rectangle5 {
  top: 420px;
  border-color: #d39346;

  border-style: solid;
  background-color: inherit;
}
.rectangle6 {
  top: 420px;
  border-color: #467fd3;

  border-style: solid;
  background-color: inherit;
}
.rectangle7,
.rectangle10,
.rectangle13 {
  width: 375px;
  height: 118px;
  left: 338px;
  top: 680px;
  background: #f07878;
}
.rectangle8,
.rectangle11,
.rectangle14 {
  width: 194px;
  height: 118px;
  left: 728px;
  top: 680px;
  background: #d39346;
}
.rectangle9,
.rectangle12,
.rectangle15 {
  width: 164px;
  height: 118px;
  left: 938px;
  top: 680px;
  background: #467fd3;
}
.rectangle10 {
  left: 23px;
  top: 838px;
}
.rectangle11 {
  left: 413px;
  top: 838px;
}
.rectangle11 {
  left: 413px;
  top: 838px;
}
.rectangle12 {
  left: 623px;
  top: 838px;
}
.rectangle13 {
  left: 653px;
  top: 996px;
}
.rectangle14 {
  left: 1043px;
  top: 996px;
}
.rectangle15 {
  left: 1253px;
  top: 996px;
}
